[Desktop Entry]
Encoding=UTF-8
Name=Chickadee Core
Comment=Connect to the Chickadee P2P Network
Comment[de]=Verbinde mit dem Chickadee peer-to-peer Netzwerk
Comment[fr]=Chickadee, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Chickadee, eşten eşe kriptografik sanal para birimi
Exec=chickadee-qt %u
Terminal=false
Type=Application
Icon=chickadee128
MimeType=x-scheme-handler/chickadee;
Categories=Office;Finance;
