
## <summary>policy for chickadee</summary>


########################################
## <summary>
##	Transition to chickadee.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`chickadee_domtrans',`
	gen_require(`
		type chickadee_t, chickadee_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, chickadee_exec_t, chickadee_t)
')


########################################
## <summary>
##	Execute chickadee server in the chickadee domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chickadee_initrc_domtrans',`
	gen_require(`
		type chickadee_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, chickadee_initrc_exec_t)
')


########################################
## <summary>
##	Search chickadee lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chickadee_search_lib',`
	gen_require(`
		type chickadee_var_lib_t;
	')

	allow $1 chickadee_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read chickadee lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chickadee_read_lib_files',`
	gen_require(`
		type chickadee_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, chickadee_var_lib_t, chickadee_var_lib_t)
')

########################################
## <summary>
##	Manage chickadee lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chickadee_manage_lib_files',`
	gen_require(`
		type chickadee_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, chickadee_var_lib_t, chickadee_var_lib_t)
')

########################################
## <summary>
##	Manage chickadee lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`chickadee_manage_lib_dirs',`
	gen_require(`
		type chickadee_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, chickadee_var_lib_t, chickadee_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a chickadee environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`chickadee_admin',`
	gen_require(`
		type chickadee_t;
		type chickadee_initrc_exec_t;
		type chickadee_var_lib_t;
	')

	allow $1 chickadee_t:process { ptrace signal_perms };
	ps_process_pattern($1, chickadee_t)

	chickadee_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 chickadee_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, chickadee_var_lib_t)

')

