policy_module(yottaflux, 1.100.1)

########################################
#
# Declarations
#

type yottaflux_t;
type yottaflux_exec_t;
init_daemon_domain(yottaflux_t, yottaflux_exec_t)

permissive yottaflux_t;

type yottaflux_initrc_exec_t;
init_script_file(yottaflux_initrc_exec_t)

type yottaflux_conf_t;
files_type(yottaflux_conf_t)

type yottaflux_var_lib_t;
files_type(yottaflux_var_lib_t)

type yottaflux_var_run_t;
files_type(yottaflux_var_run_t)

type yottaflux_port_t;
corenet_port(yottaflux_port_t)

########################################
#
# yottaflux local policy
#
allow yottaflux_t self:process { fork };

allow yottaflux_t self:fifo_file rw_fifo_file_perms;
allow yottaflux_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(yottaflux_t, yottaflux_conf_t, yottaflux_conf_t)
manage_files_pattern(yottaflux_t, yottaflux_conf_t, yottaflux_conf_t)

manage_dirs_pattern(yottaflux_t, yottaflux_var_lib_t, yottaflux_var_lib_t)
manage_files_pattern(yottaflux_t, yottaflux_var_lib_t, yottaflux_var_lib_t)
files_var_lib_filetrans(yottaflux_t, yottaflux_var_lib_t, { dir file })

manage_dirs_pattern(yottaflux_t, yottaflux_var_run_t, yottaflux_var_run_t)
manage_files_pattern(yottaflux_t, yottaflux_var_run_t, yottaflux_var_run_t)

sysnet_dns_name_resolve(yottaflux_t)
corenet_all_recvfrom_unlabeled(yottaflux_t)

allow yottaflux_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(yottaflux_t)
corenet_tcp_sendrecv_generic_node(yottaflux_t)
corenet_tcp_sendrecv_all_ports(yottaflux_t)
corenet_tcp_bind_generic_node(yottaflux_t)

gen_require(`
    type yottaflux_port_t;
')
allow yottaflux_t yottaflux_port_t:tcp_socket name_bind;

gen_require(`
    type yottaflux_port_t;
')
allow yottaflux_t yottaflux_port_t:tcp_socket name_connect;

domain_use_interactive_fds(yottaflux_t)

files_read_etc_files(yottaflux_t)

miscfiles_read_localization(yottaflux_t)

sysnet_dns_name_resolve(yottaflux_t)

allow yottaflux_t yottaflux_exec_t:file execute_no_trans;
allow yottaflux_t self:process setsched;
corecmd_exec_ls(yottaflux_t)
corenet_tcp_connect_http_port(yottaflux_t)
dev_read_urand(yottaflux_t)
fs_getattr_xattr_fs(yottaflux_t)
kernel_read_system_state(yottaflux_t)
